@include critical {
    body {
        margin: 0;
        padding: 0;

        background-color: var(--color-background-secondary);
        color: var(--color-text);
        min-height: 100vh;
    }
    header, main, footer {
        margin: 0 auto;
        width: 100%;
        max-width: get-setting(grid, max-width);
    }

    header {
        @extend %flex,
            %flex--justify-space-between,
            %flex--align-flex-end;
    }

    .header {
        @extend %flex,
            %flex--justify-flex-start,
            %flex--align-flex-end;

        &__logo {
            svg {
                fill: var(--color-text);
                width: 8rem;
                height: 8rem;
            }
        }
        &__title {
            color: var(--color-text);
        }
    }
    .nav {
        @extend %flex,
            %flex--justify-flex-start,
            %flex--align-flex-end;

        @include padding-y(1);

        &__item {
            @extend %flex,
                 %flex--inline,
                %flex--justify-center,
                %flex--align-center,
                %font--monospace,
                %font--large;

            color: var(--color-tertiary);

            &--highlight {
                color: var(--color-primary);
            }
            &__icon {
                @include margin-right(.5);
            }
            + .nav__item {
                @include margin-left(1);
            }
        }
    }

}

@include non-critical {

}
