include mixins/_classes.pug
include mixins/_grid.pug
include mixins/_remixicon.pug
include mixins/_scripts.pug
include mixins/_navigation.pug

doctype html
html(lang=lang, data-theme=theme)
    head
        title NODE_STARTER
        block head
        link(rel='stylesheet', href='/css/critical.css')
    body
        header
            nav.nav
                +nav-link('page/about', __('menu.about'), 'information')
                +nav-link('page/pricing', __('menu.pricing'), 'vip-crown')
                +nav-link('auth/login', __('menu.login'), 'user-smile', 'highlight')

        article
            main
                block content

        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')

        link(rel='stylesheet', href='/css/non-critical.css')      

        +script('/js/main.js')

        +renderScripts()
        
        block styles
        block scripts