extends _layout.pug

block content
    section.splash
        h1.splash__title 
            = __('index.splash.title') 
            span.spinner(data-spinner= __('index.splash.spinner'))

        p.splash__cta
            a.button(href='/page/pricing')
                i.ri-play-line
                = __('index.splash.call-to-action')

    section.offer
        h2.offer__title
            = __('index.offer.title')
        p.offer__text
            = __('index.offer.text')

