@include critical {
    :root {
        --color-text: #{get-color(text)};
        --color-text-secondary: #{get-color(text-secondary)};
        --color-background: #{get-color(background)};
        --color-background-secondary: #{get-color(background-secondary)};
    
        --color-primary: #{get-color(primary)};
        --color-secondary: #{get-color(secondary)};
        --color-tertiary: #{get-color(tertiary)};

        --color-primary-darker: #{get-color(primary-darker)};
        --color-secondary-darker: #{get-color(secondary-darker)};
        --color-tertiary-darker: #{get-color(tertiary-darker)};

        --color-primary-lighter: #{get-color(primary-lighter)};
        --color-secondary-lighter: #{get-color(secondary-lighter)};
        --color-tertiary-lighter: #{get-color(tertiary-lighter)};

        --color-success: #{get-color(success)};
        --color-error: #{get-color(error)};
    }
    // [data-theme="light"] {
    //     --color-background: #{get-color(text)};
    //     --color-background-secondary: #{get-color(text-secondary)};
    //     --color-text: #{get-color(background)};
    //     --color-text-secondary: #{get-color(background-secondary)};
    // }
    
    html body {
        padding: 0;
        margin: 0;
        
        * {
            box-sizing: border-box !important;
        }
    }
}
